.card {
    border: none;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}


.chat li{
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #b3a9a9;
}

.rounded-circle {
    max-height: 50px;
}


input:focus {
    outline:none! important;
    border: 0;
    outline: 0;
    box-shadow: none;
}