<div class="card mb-4">
    <div class="card-img-wrapper">
        <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.username}}" class="card-img-top">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item">
                <button class="btn btn-primary btn-sm" routerLink='/members/{{member.username}}'>
                    <i class="fa fa-info-circle"></i>
                </button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary btn-sm" (click)="addLike(member)">
                    <i class="fa fa-heart"></i>
                </button>
            </li>
            <li class="list-inline-item">
                <button 
                    class="btn btn-primary btn-sm" 
                    routerLink="/members/{{member.username}}"
                    [queryParams]="{tab: 1}"
                >
                    <i class="fa fa-comment"></i>
                </button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1" *ngIf="member.gender === 'employee'">
            <span [class.is-online]="(_presenceService.onlineUsers$ | async).includes(member.username)">
                <i class="fa fa-user"></i>
            </span>
            {{member.username}}, {{member.age}}
        </h6>
        <h6 class="card-title text-center mb-1" *ngIf="member.gender !== 'employee'">
            <i class="fa fa-user"></i>
            {{member.username}}
        </h6>
        <p class="card-text text-center">From {{member.city}}</p>
    </div>
</div>
