input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

button:focus { 
    outline: none !important; 
    box-shadow: none !important; 
}

#apply-button:hover {
    background-color: rgba(12, 12, 12, 0.836);
}
