<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Joblink</a>
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive='active'>Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists"  routerLinkActive='active'>Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="-1" aria-disabled="true" routerLink="/messages"  routerLinkActive='active'>Messages</a>
        </li>
        <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
          <a class="nav-link"  aria-disabled="true" routerLink="/admin"  routerLinkActive='active'>Admin</a>
        </li>
      </ng-container>
    </ul>
    <div class="dropdown" *ngIf="(currentUser$ | async) as user" dropdown>
      <img id="profileImg" [routerLink]="'/members/' + user.username"  src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
      <a class="dropdown-toggle text-light" dropdownToggle>Hi, {{user.username}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onLogin()" *ngIf="!(currentUser$ | async)" class="form-inline my-2 my-lg-0">
      <input 
        class="form-control mr-sm-2" 
        type="text" 
        placeholder="Username" 
        [(ngModel)]="model.username"
        name="username"
        required
        #usernameInput="ngModel"
      >
      <input 
        class="form-control mr-sm-2" 
        type="password" 
        placeholder="Password" 
        [(ngModel)]="model.password"
        name="password"
        required
        #pwInput="ngModel"
      >
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0 btn-sm" type="submit">Login</button>
    </form>
  </div>
</nav>